.is-center {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.center-section { 
    text-align: center;
    margin: 50px
}

.title {
    text-transform: uppercase;
    text-decoration: underline;
}

.tooltip {
    opacity: 0;
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
}

.annotation-subject > .subject {
    stroke:red;
    stroke-width: 2px;
}

text.annotation-note-label {
    font-size: 0.75em;
}

.controls {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.main-content {
    margin-left: 25px;
}

.debug-border {
    border-style: dashed;
    border-width: 1px;
}